[Unit]
Description=Gunicorn application server running sensors app
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=eelco
Group=eelco
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/eelco/Developer/sensorpage
Environment="PATH=/home/eelco/.virtualenvs/sensors/bin"
ExecStart=/home/eelco/.virtualenvs/sensors/bin/gunicorn wsgi --threads 4
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
